@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-900 text-white;
}

.card-header {
    @apply text-xl font-medium w-full;
}

.primary-btn {
    @apply w-full p-2 bg-slate-600 hover:bg-slate-500 transition-all font-medium rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-slate-600
}

.critical-btn {
    @apply w-full p-2 bg-red-500 hover:bg-red-600 transition-all font-semibold rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-red-500
}

.serum-gradient {
    @apply bg-gradient-to-t from-cyan-600 to-cyan-300
}

.focus-style {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-cyan-400 focus-visible:border-none
}

.input {
    @apply rounded-md p-2 bg-slate-700 focus-style sm:text-sm
}

.input-2 {
    @apply rounded-md p-2 bg-slate-600 focus-style sm:text-sm
}

.input-label {
    @apply text-xs text-slate-400
}